@model Usuario
<form asp-action="Login">
    <input hidden class="form-control" asp-for="Id" />
    <div class="form-group col-4">
        <label for="Usuario" class="form-label">Usuario</label>
        <input class="form-control" asp-for="UsuarioNombre" />
    </div>
    <div class="form-group col-4">
        <label for="Contraseña" class="form-label">Contraseña</label>
        <input class="form-control" asp-for="Contrasenia" />
    </div>

    <button class="btn btn-outline-primary mt-4 col-3" type="submit">Enviar</button>
</form>